.wheel.keen-slider {
    display: block;
    color: #fff;
    height: 100%;
    overflow: visible;
    user-select: none;
}


.wheel__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16%;
    width: 100%;
}

.wheel__slides {
    height: 100%;
    position: relative;
    width: 100%;
}

.wheel__shadow-top,
.wheel__shadow-bottom {
    background: linear-gradient(
            to top,
            rgba(40, 46, 51, 0.0) 0%,
            rgba(40, 46, 51, 0.5) 20%,
            rgba(40, 46, 51, 0.9) 100%
    );
    left: 0;
    height: calc(42% + 4px);
    width: 100%;
    position: relative;
    margin-top: -4px;
    z-index: 5;
}

.wheel__shadow-bottom {
    background: linear-gradient(
            to bottom,
            rgba(40, 46, 51, 0.0) 0%,
            rgba(40, 46, 51, 0.5) 20%,
            rgba(40, 46, 51, 0.9) 100%
    );
    margin-top: 4px;
    border-bottom: none;
}

.wheel__label {
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    margin-top: 1px;
    margin-left: 5px;
}

.wheel__slide {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    line-height: 25px;
    font-size: 25px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    z-index: 1;
}
